@import "bootstrap-sprockets";
@import "bootstrap";
@import "colors";
@import "fonts";
@import "layout";

body.cssch {
  background-color: white;
  text-align: center;
  line-height: 28px;
  font-size: 14px;

  h2 {
    line-height: $vertical-rhythm;
    font-size: 38px;
    margin: 0;
  }
  
  .jumbotron {
    background-color: $primary-color;
    margin-bottom: 0;
    p {
      font-size: 1em;
      margin-bottom: 0;
    }
    
    h1 {
      font-size: $x-large;
      line-height: $vertical-rhythm * 3;
      margin: 0;
      letter-spacing: -1.3px;
    }
    a.btn {
      margin-top: 34px;
      margin-bottom: 6px;
      border: 0;
      line-height: 28px;
      padding: 8px 16px;
    }
    .btn-primary {
      background-color: $accent-color;
    }
  }

  .row {
    .col-md-6, .col-md-4 {
      margin-bottom: $vertical-rhythm*1;
    }
  }
  
  .row:first-of-type {
    margin-top: $vertical-rhythm*3;
  }
  
  .features .row {
    margin-top: $vertical-rhythm*2;
  }

  .jumbotron {
    padding: $vertical-rhythm*3 0 $vertical-rhythm*2 0;
  }

  .jumbotron.welcome {
    padding: $vertical-rhythm*5 0 $vertical-rhythm*3 0;
    color: $text-icons-color;
  }

  .container.features {
    margin: $vertical-rhythm*3 auto;
  }

  .jumbotron.reviews {
    background-color: $accent-color;
    h2.reviews-header {
      color: $text-icons-color;
    }
    
  }
  .jumbotron.products {
    background-color: $divider-color;
    min-height: $vertical-rhythm*44;
    h2 {
      color: #fff;
    }
  }
  
  .products {
    .p1 { background-color: $product-color-1};
    .p2 { background-color: $product-color-2};
    .p3 { background-color: $product-color-3};
    .p4 { background-color: $product-color-4};
    .p5 { background-color: $product-color-5};
    
    .product {
      color: white;
    }
    .btn-primary {
      background-color: $light-primary-color;
    }
  }

  .review, .product {
    background-color: $review-color;
    padding: 56px 45px 28px;
    display: table;
    overflow: hidden;

    img {
      width: 140px;
      height: 140px;
      margin-bottom: 28px;
    }
    
    h4 {
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 28px;
      margin: 0;
    }
    
    h5 {
      font-style: italic;
      margin-bottom: 28px;
    }
    
  }
  .review {
    height: $vertical-rhythm*18;
    max-height: $vertical-rhythm*18;
    img {
      border: 7px solid $accent-color;
    }
    p {
      color: $secondary-text;
    }
  }

}